<footer xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	class="footer mt-auto py-3 bg-light row border-0 border-top">
	<div class="col-3"></div>
	<div class="col row">
		<div class="col">
			<a href="#" class="text-decoration-none"><i
				class="bi bi-question-circle"></i> Help</a>
		</div>
		<div class="col">
			<a href="#" class="text-decoration-none"><i class="bi bi-ticket"></i>
				Create ticket on FI 2.0</a>
		</div>
	</div>
</footer>