<nav xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	class="navbar navbar-expand-lg navbar-dark bg-primary border-0 border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}"> <img
			src="https://vncsi.com.vn/data/data/anhpnh/2021/09/28/1200px-FPT_logo_2010_svg.png"
			alt="" width="64" height="42"> <span class="mx-5 fs-4">FSOFT
				HR UTILITY</span>
		</a>
	</div>
</nav>