<div xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	class="col-2 bg-light border border-1 border-top-0 border-bottom-0 px-0"
	style="height: 100%;">
	<ul class="list-group border-0">
		<li
			class="list-group-item list-group-item-action border-0 text-end bg-light"><a
			class="text-decoration-none"><i class="bi bi-chevron-double-left"></i></a>
	</ul>
</div>