<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<title>Login</title>
</head>
<body>
	<th:block th:include="/_nav_login"></th:block>
	<main class="row mx-0" style="height: 90vh;">
		<th:block th:include="/_sidebar_login"></th:block>
		<div class="col">
			<div class="container">
				<div class="pt-4 border-0 border-bottom">
					<h1 class="fw-normal">Login</h1>
				</div>
				<div class="row">
					<div class="col">
						<form method="POST" th:action="@{/login}" class="pt-2">
							<div class="mb-3 mt-2 px-3">
								<input type="text" class="form-control" id="userName"
									placeholder="Username" name="userName">
							</div>
							<div class="mb-3 px-3">
								<input type="password" class="form-control" id="password"
									placeholder="Password" name="password">
							</div>
							<div class="mb-3 form-check px-3 mx-4">
								<input class="form-check-input" type="checkbox" value="Y"
									id="rememberMe" name="rememberMe"> <label
									class="form-check-label" for="flexCheckDefault">
									Remember me </label>
							</div>
							<div class="row mb-3 px-3">
								<div class="col mb-3 px-3 d-flex">
									<button type="submit"
										class="btn btn-secondary flex-grow-1 py-2" id="btnLogin"
										value="Submit">Login</button>
								</div>
								<div class="col mb-3 d-flex">
									<button type="submit"
										class="btn btn-secondary flex-grow-1 py-2" id="btnLogin"
										value="Submit">Reset</button>
								</div>
							</div>

							<div class="mb-3 px-3 d-flex">
								<a th:href="@{/register}" class="link"
									style="text-decoration: none;">Click here to Register</a>
							</div>
							<div class="mb-0 px-3 d-flex">
								<p th:if="${errorString!=null}" style="color: red;"
									th:utext="${errorString}"></p>
							</div>
						</form>
					</div>
					<div class="col container border mt-3 mx-3">
						<h4 class="mt-3">Welcome to F-soft HR Utility</h4>
						<p>This tool is developed to help Employees, Project Managers,
							BJ Managers, FSU Leads, HR (SSC, BP Manager), CTC, FWA, QA,... in
							submitting HR related imformations, approving the submitted info,
							monitoring status of your submissions,... and further more.</p>
						<div class="text-end border-0 border-bottom py-2">
							<a href="">More...</a>
						</div>
						<p class="fst-italic mt-3">
							The recommended web browser is <img
								src="http://dragold.net/images/google.png" alt="" width="64"
								height="26"> <strong>Chrome</strong>. Sorry for any
							inconvience!!!
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block th:include="/_footer"></th:block>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>
</body>
</html>