
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<title>Register</title>
</head>
<body>
	<div class="container d-flex justify-content-center">
		<div class="container align-self-center my-5 border rounded p-0"
			style="max-width: 500px;">
			<div class="align-self-center bg-light border-0 border-bottom">
				<h1 class="align-self-center fs-3 px-3 py-1">Register</h1>
			</div>
			<form method="POST"
				th:action="@{/register}" class="pt-2">
				<div class="mb-3 mt-2 px-3">
					<input type="text" class="form-control" id="inputUserName"
						placeholder="User name" name="inputUserName">
				</div>
				<div class="mb-3 px-3">
					<input type="password" class="form-control" id="inputPassword"
						placeholder="Password" name="inputPassword">
				</div>
				<div class="mb-3 px-3">
					<input type="password" class="form-control"
						id="inputConfirmPassword" placeholder="Confirm password"
						name="inputConfirmPassword">
				</div>
				<div class="mb-3 px-3 d-flex">
					<button type="submit" class="btn btn-success flex-grow-1 py-2"
						id="btnRegister" value="Submit">Register</button>
				</div>
				<div class="mb-3 px-3 d-flex">
					<a th:href="@{/login}" class="link"
						style="text-decoration: none;">Click here to Login</a>
				</div>
				<div class="mb-0 px-3 d-flex">
					<p th:if="${errorString!=null}" style="color: red;" th:utext="${errorString}"></p>
				</div>
			</form>
		</div>
	</div>
	</div>
</body>
</html>